In [1]:
# Using data frames in native python 
# suppose we are not using pandas for data 
# we can use dictionaries 
# we are representing some data as dictionaries 
# it's only for one person 
person = {
    "first": "Nasirul",
    "last": "Islam",
    "email": "nasir@gmail.com"
}

In [2]:
# here also a dictionary but it's a list 
# we can add more name and information in this list 
people = {
    "first": ["Nasirul"],
    "last": ["Islam"],
    "email": ["nasir@gmail.com"]
}

In [4]:
# here we are showing list with multiple data 
# there are multiple person's in the list 
# this makes them people 
# on data frame we have rows and columns 
# lets assume keys are 'columns' and values are 'rows'
# first last email are the columns and the values are rows 
people = {
    "first": ["Nasirul", 'Jane', 'John'],
    "last": ["Islam", 'Doe', 'Doe'],
    "email": ["nasir@gmail.com", 'JaneDoe@gmail.com', 'johnDoe@gmail.com']
}

In [5]:
people['email']

['nasir@gmail.com', 'JaneDoe@gmail.com', 'johnDoe@gmail.com']

In [6]:
import pandas as pd

In [9]:
# let's use our list as data frame 
df = pd.DataFrame(people)

In [8]:
df

     first   last              email
0  Nasirul  Islam    nasir@gmail.com
1     Jane    Doe  JaneDoe@gmail.com
2     John    Doe  johnDoe@gmail.com